<% 
  segments = currentUrl.replace(/^\/|\/$/g, '').split('/'); 
  urlSegment = baseUrl;
%>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item">
    <a href="/">Dashboard</a>
  </li>
  <% segments.forEach((segment, index) => { %> <% if (index !== segments.length
  - 1) { %>
  <li class="breadcrumb-item">
    <%
      urlSegment = `${urlSegment}/${segment}`;
    %>
    <a href="<%= urlSegment %>"><%= segment %></a>
  </li>

  <% }else { %>
  <li class="breadcrumb-item active"><%= segment %></li>
  <% } %> <% }); %>
</ol>
